/* Algemene styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Ligblou agtergrond vir 'n vars wetenskaplike gevoel */
}

header {
    background-color: #2a3d66; /* Donkerblou agtergrond vir 'n professionele voorkoms */
    color: white;
    text-align: center;
    padding: 2rem 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #2a3d66;
}

/* Wetenskappe Departement - knoppies */
#department {
    text-align: center;
    margin-bottom: 3rem;
}

.department-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 12px 20px;
    font-size: 1.2rem;
    background-color: #4a6fa5; /* Blou kleur vir die knoppies */
    color: white;
    border: none;
    border-radius: 50px; /* Ronde knoppies */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3b5b83; /* Donkerder blou vir hover-effek */
}

/* Tabel styling */
table {
    width: 90%;
    margin: 3rem auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Skaduwee vir visuele diepte */
}

th, td {
    padding: 1.5rem;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1.1rem;
}

th {
    background-color: #4a6fa5; /* Ligtige blou vir die kop van die tabel */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Ligter agtergrond vir alternatiewe rye */
}

input[type="file"] {
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f0f8ff;
}

input[type="file"]:hover {
    background-color: #d8e4f0; /* Ligte blou vir die hover-effek */
}

/* Footer styling */
footer {
    text-align: center;
    background-color: #2a3d66;
    color: white;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px; /* Voegt meer spasie tussen die inhoud en footer by */
}
